{% extends 'base.html.twig' %}

{% block title %}Paiement annulé{% endblock %}

{% block body %}
{{ include("partials/title_section.html.twig", {'name':'product details'}) }}
<div class="section checkout">
	<div class="container">
        <div class="row justify-content-center">

            <div class="col-md-8">
                <div class="text-center order_complete">
                	<i class="fas fa-ban"></i>
                    <div class="heading_s1">
                      <h3>Sorry {{order.user.firstname}}. Votre paiement a été annulé !</h3>
                      <div>
                        <div>Paiement du numéro de commande <strong>{{ order.reference }}</strong>  a été annulé.</div>
                        <div>You have tried to pay for your order and we thank you.

                            Vous avez essayé de payer votre commande et nous vous en remercions.
                            See you soon on our online store.</div>
                                <div>

                                <a href="{{path('checkout')}}" class="btn btn-fill-out">Réessayer le paiement</a>
                              </div>
                      </div>

                      <div >
                    </div>
                    </div>


                </div>
            </div>

        </div>
    </div>
</div>


{% endblock %}
