{% extends 'base.html.twig' %}

{% block title %}shop e-commerce{% endblock %}

{% block body %}


{{ include("partials/title_section.html.twig", {'name':'Nos produits'}) }}

<div class="section">
	<div class="container">
    	<div class="row">
			<div class="col-lg-9">
                <div class="row shop_container">
                {% if not products %}
                    <p class="m-5">Il n'y a pas de produit disponibles </p>
                {% endif %}
                    {% for product in products %}
                        {{ include('partials/product.html.twig', {'product' : product})}}
                    {% endfor %}
                </div>
        	</div>
          <div class="col-lg-3 order-lg-first mt-4 pt-2 mt-lg-0 pt-lg-0">
            	<div class="sidebar">
                {{ form_start(search)}}
                	<div class="widget">
                        <h5 class="widget_title">Categories</h5>
                        {{ form_row(search.categorie) }}
                    </div>
                    <div class="widget">
                    	<h5 class="widget_title">Price</h5>
                    <div class="form-row">
                     <div class="col-md-6">
                     {{ form_row(search.minprice) }}
                     </div>
                     <div class="col-md-6">
                     {{ form_row(search.maxprice) }}
                     </div>
                    </div>
                    </div>
                    <div class="widget">
                    	<h5 class="widget_title">Tags</h5>
                        {{ form_row(search.tags) }}
                
                    </div>
                    <button class="btn btn-border-fill btn-block"> Search</button>

                {{ form_end(search)}}
                </div>
          </div>
        </div>
    </div>
</div>


{% endblock %}

{% block javascripts %}
    <script>
       
            $('.js-categories-multiple').select2({
  theme: "classic"
});
       
    </script>
    
{% endblock %}