{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}


{{ include("partials/title_section.html.twig",{'name' : 'Register'}) }}

<div class="login_register_wrap section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-6 col-md-10">
                <div class="login_wrap">
            		<div class="padding_eight_all bg-white">
                        <div class="heading_s1">
                            <h3>Créer un compte</h3>
                        </div>
                        <div class="message-flash">
                        {% for flashError in app.flashes('verify_email_error') %}
                            <div class="alert alert-danger" role="alert">{{ flashError }}</div>
                        {% endfor %}
                        </div>
                        {{ form_start(registrationForm) }}
                            <div class="form-group">
                                {{ form_row(registrationForm.username) }}
                            </div>
                            <div class="form-row">
                                <div class="col-md-6">{{ form_row(registrationForm.firstname) }}</div>
                                <div class="col-md-6">{{ form_row(registrationForm.lastname) }}</div>     
                            </div>
                            <div class="form-group">
                                {{ form_row(registrationForm.email) }}
                            </div>
                            
                            <div class="form-group">
                                {{ form_row(registrationForm.plainPassword) }}
                            </div>
                            
                            <div class="login_footer form-group">
                                <div class="chek-form">
                                    <div class="custome-checkbox">
                                        {{ form_row(registrationForm.agreeTerms) }}
                                        <a href="{{path('cgu_conditions')}}" target="_blank" >Lire les conditions</a>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-fill-out btn-block" name="register">S'inscrire</button>
                            </div>
                        {{ form_end(registrationForm) }}
                        <div class="different_login">
                            <span> ou</span>
                        </div>
                        <ul class="btn-login list_none text-center">
                            <li><a href="#" class="btn btn-facebook"><i class="ion-social-facebook"></i>Facebook</a></li>
                            <li><a href="#" class="btn btn-google"><i class="ion-social-googleplus"></i>Google</a></li>
                        </ul>
                        <div class="form-note text-center">Vous avez déjà un compte ?<a href="{{path('app_login')}}">Connexion</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- -->
    

   
{% endblock %}
