<div class="preloader">
    <div class="preloader-content">
        <span></span>
        <span></span>
        <span></span>
    </div>
</div>

<header class="header_wrap fixed-top header_with_topbar">
    <div class="top-header">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-6">
                    <div class="d-flex align-items-center justify-content-center justify-content-md-start">
                        <div class="lng_dropdown mr-2">
                            <select name="countries" class="custome_select">
                            
                                
                                <option  value='fn' data-image="{{asset('assets/images/fn.png')}}" data-title="France">Mon e-commerce</option>
                               
                                
                            </select>
                        </div>
                        <div class="mr-3">
                            
                        </div>
                        <ul class="contact_detail text-center text-lg-left">
                        
                        <a href="tel:33632161737" ><span class="ti-mobile" > 06 32 16 17 37</span></a>
                            
                        </ul>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="text-center text-md-right">
                            <ul class="header_list">
                            <li><a class="nav-link nav_item" href="#">Nous contacter</a></li> 
                            
                            
                            {% if app.user %}
                                    <li><a href="{{path('app_logout')}}"><i class="ti-user"></i><span>Déconnexion</span></a></li>
                                    <li><a href="{{path('account')}}"><i class="ti-user"></i><span>Mon compte  </span></a></li>
                                    <li><a><i class=""></i><span style="color:green"  > Bonjour {{app.user.firstname}} </span></a></li>
                            {% else %}
                                    <li><a href="{{ path('app_register')}}"><i class="fas fa-sign-in-alt"></i><span>S'inscrire</span></a></li>
                                    <!--<li><a href="{{path('app_login')}}"><i class="ti-user"></i><span>Connexion</span></a></li>  -->  
                                    <li><a href="{{path('account')}}"><i class="ti-user"></i><span>Mon compte  </span></a></li>
                            {% endif %}
                            
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bottom_header dark_skin main_menu_uppercase"> 
        <div class="container">
            <nav class="navbar navbar-expand-lg"> 
                <a class="navbar-brand" href="{{path('home')}}">
                    
                    <img class="logo_light" src="{{asset('assets/images/logo_light.png')}}" alt="logo" />
                    <img class="logo_dark" src="{{asset('assets/images/logo_dark.png')}}" alt="logo" />
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-expanded="false"> 
                    <span class="ion-android-menu"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
                    <ul class="navbar-nav">
                        <li class="dropdown">
                            <a  class="nav-link" href="{{path('home')}}">Accueil</a>   
                        </li>
                        
                        <li class="">
                            <a class=" nav-link" href="{{ path('shop') }}" >Nos produits</a>
                            
                        </li>
                    
                        <li class="dropdown">
                            <a class=" nav-link ti-heart" href="{{path('wishlist_index')}}" > Mes coups de cœur</a>
                            
                        </li>
                    
                        
                    </ul>
                </div>
                <ul class="navbar-nav attr-nav align-items-center">
                    <li><a href="javascript:void(0);" class="nav-link search_trigger"><i class="linearicons-magnifier"></i></a>
                        <div class="search_wrap">
                            <span class="close-search"><i class="ion-ios-close-empty"></i></span>
                           
                            <form>
                                <input type="text" placeholder="Search" class="form-control" id="search_input">
                                <button type="submit" class="search_icon"><i class="ion-ios-search-strong"></i></button>
                            </form>
                            
                        </div><div class="search_overlay"></div>
                    </li>
                    <li class="dropdown cart_dropdown"><a class="nav-link cart_trigger" href="#" data-toggle="dropdown"><i class="linearicons-cart"></i><span class="cart_count">
                    {% if app.session.get('cart') %}
                    
                        {{ app.session.get('cartData').data.quantity_cart}} 

                        
                        {% else %}
                            0
                    
                    {% endif %}
                    </span></a>
                        <div class="cart_box dropdown-menu dropdown-menu-right">
                            <ul class="cart_list">

                            {% if app.session.get('cart')%} 
                                
                                {% for element in app.session.get('cartData'). products %}
                                    <li>
                                        <a href="{{ path('cart_delete_all', {'id': element.product.id}) }}" class="item_remove"><i class="ion-close"></i></a>
                                        <a href="{{path('product_details', {'slug': element.product.slug})}}"><img src="/assets/uploads/products/{{element.product.image}}" alt="{{element.product.name}}">{{element.product.name}}</a>
                                        <span class="cart_quantity"> {{element.quantity}} x <span class="cart_amount"> <span class="price_symbole">$</span></span>{{element.product.price / 100}}</span>
                                    </li>
                                {% endfor %}
                                </ul>  
                                <div class="cart_footer">
                                    <p class="cart_total"><strong>Total TTC :</strong> <span class="cart_price"> <span class="price_symbole">$</span></span>{{ app.session.get('cartData').data.subTotalTTC }}</p>
                                    <p class="cart_buttons"><a href="{{path('cart')}}" class="btn btn-fill-line rounded-0 view-cart">View Cart</a><a href="{{path('checkout')}}" class="btn btn-fill-out rounded-0 checkout">Checkout</a></p>
                                </div>                     

                            {% else %}
                                <li >Votre panier est vide ! </li>  
                            </ul>
                            {% endif %}
                            </ul>
                        </div>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</header>

<!--
<pre>
    {{ dump(app.session) }}
</pre>
-->