<div class="col-lg-3 col-md-4 col-6">
    <div class="product">
        <div class="product_img ">
            <a href="">
                <img class="imag"  src="/assets/uploads/products/{{product.image}}" alt="product_img1">
            </a>
            <div class="product_action_box">
                <ul class="list_none pr_action_btn">
                    <li class="add-to-cart"><a href="{{path('cart_add', {'id':product.id })}}"><i class="icon-basket-loaded"></i> Ajouter au panier</a></li>
                    <!--<li><a href="" class=""><i class="icon-shuffle"></i></a></li>-->
                    
                    <li><a href="{{path('product_details', {'slug': product.slug})}}" class=""><i class="icon-magnifier-add"></i></a></li>
                   
                    <li><a href="{{path('wishlist_add',{'id' : product.id })}}"><i class="icon-heart"></i></a></li>
                     
                </ul>
            </div>
        </div>
        <div class="product_info">
            <h6 class="product_title"><a href="{{path('product_details', {'slug': product.slug})}}">{{product.name}}</a></h6>
            <div class="product_price">
                <span class="price">{{((product.price / 100) | number_format(2,",", ".")) }}€</span>
                {% if product.reduction %}
                <del>{{ product.price / 100 + ((product.price * (product.reduction / 100)) / 100) | round(2, 'floor') }}$</del>
                
                <div class="on_sale">
                    <span>{{product.reduction}}% Off</span>
                </div>
                {% endif %}
            </div>
            <div class="rating_wrap">
                <div class="rating">
                    <div class="product_rate" style="width:80%"></div>
                </div>
                <span class="rating_num">{{product.reviewsProducts | length}}</span>
            </div>
            <div class="pr_desc">
                <p>{{product.description}}</p>
            </div>
            <!--
            <div class="pr_switch_wrap">
                <div class="product_color_switch">
                    <span class="active" data-color="#87554B"></span>
                    <span data-color="#333333"></span>
                    <span data-color="#DA323F"></span>
                </div>
            </div>
            -->
        </div>
    </div>
</div>