{% extends 'base.html.twig' %}

{% block title %}Hello WishlistController!{% endblock %}

{% block body %}

<div class="container text-center jumbotron">
    <h1>Mes coup de coeur</h1>

<div class="container">


{% if items | length > 0  %}
    
    
    <table class="table">
        <thead>
            <tr>
                <th>Produit</th>
                <th>Article</th>
                <th>Prix</th>
                <th>Ajouter au panier</th>
                <th>supprimer</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for item in items %}
        
        <tr>
            <td class="product-thumbnail">
                <a href="{{path('product_details', {'slug': item.product.slug})}}"><img src="/assets/uploads/products/{{item.product.image}}" alt="{{item.product.name}}"></a>
            </td>
            <td> <a href="{{path('product_details', {'slug': item.product.slug})}}">{{ item.product.name }} </a></td>
            <td>{{ item.product.price / 100}}</td>
           <td>
                <a href="{{ path('cart_add', {'id': item.product.id}) }}" class="btn btn-success btn-sm"><i class="fas fa-shopping-cart"></i></a>
            </td>
            <td>
                <a href="{{ path('cart_delete', {'id': item.product.id}) }}" class="btn btn-danger btn-sm"><i class="fas fa-trash"></i></a>
            </td>
            
        </tr>
            
        {% endfor %}
        
        </tbody>
    </table>
    <div class="container">
    <a href="{{path('home')}}" class="btn btn-fill-out">Retour</a>
    </div>
{% else %}
    <p>La liste de mes coup de coeur est vide ! </p>
{% endif %}
</div> 
</div> 
{% endblock %}


