{% extends 'base.html.twig' %}

{% block title %}CGU AliExprass{% endblock %}

{% block body %}


{{ include("partials/title_section.html.twig", {'name':'Conditions Générales d Utilisation'}) }}

<div class="container">
<h1 class="text-center">Conditions Générales d'utilisation du site Demo E-commerce</h1>
    <p class="text-justify">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Temporibus, numquam, nihil fuga totam alias voluptatibus dolore odio tempora aspernatur non adipisci quisquam nisi explicabo voluptates libero consequuntur dignissimos dolorum repudiandae!
        Ad, reiciendis optio nihil, voluptatem quidem veniam quaerat nostrum sint deserunt eum hic. Molestias omnis exercitationem sequi debitis labore recusandae, voluptas rem iste, aperiam itaque odit voluptatem adipisci vero pariatur!
        Reiciendis consectetur voluptas repudiandae voluptatibus, iusto in? Ducimus dolores asperiores fugiat amet rem reiciendis neque soluta saepe, earum inventore qui reprehenderit. Magni, minima. Repudiandae nam velit commodi magni. Officia, quasi.
        Rerum error cum quidem ratione neque repellat vel fuga incidunt quisquam veritatis officiis facere blanditiis eveniet molestias, reprehenderit sunt laboriosam doloremque illum? Animi consequatur quae odit maiores, omnis nulla repellat.
        Id culpa excepturi nostrum magni ipsa inventore corrupti, nihil commodi quidem obcaecati, cumque animi veniam. Dolorem omnis odit aspernatur incidunt necessitatibus maxime distinctio dolorum nam laborum! In iste voluptatum cum.
        Ad adipisci doloremque eius aliquid quaerat perferendis expedita quis eligendi voluptatibus odit reprehenderit nobis ratione sed consequatur quae totam quod, tenetur inventore velit vitae animi. Inventore quis error et quae.
        Nihil, minima corrupti sed tempore totam ex consectetur qui repellat architecto ab obcaecati quia adipisci, eos illum illo provident iusto! Exercitationem molestias natus aspernatur eveniet, id dolores earum eligendi porro!
        Ea, quo corporis mollitia quisquam corrupti nobis placeat ab culpa quos autem soluta laudantium quas voluptatibus harum maiores rerum iste. Eveniet eligendi tempore ea quod, beatae vitae officiis optio adipisci?
        Harum sint rerum, id fugit dicta soluta, ea velit aperiam sit incidunt esse quia ad, dolore vitae ipsum sapiente voluptatum beatae nihil pariatur amet! Debitis non perferendis impedit veritatis delectus!
        Dolores, atque veritatis cumque totam deserunt sapiente libero? Odio voluptatum adipisci sunt, quas amet assumenda quod magni dolorem tempore porro libero officia, nam doloribus explicabo, aspernatur similique accusamus minus reprehenderit.
        Odit officiis eum hic aut quas officia quod id magnam eius mollitia a alias ut labore, tempore modi laboriosam rerum ipsam, molestiae sint ratione culpa architecto dolorem, adipisci rem? Blanditiis!
        Sequi possimus amet sint hic numquam, dolores totam ullam provident, sed nemo saepe architecto quia? Iure dolores placeat, vel at sint nostrum corporis eos? Fugit ad amet quaerat commodi facilis!
        Tenetur nesciunt quasi culpa vel voluptatem minus! Aperiam voluptatum sequi nemo, quaerat vel sunt deleniti culpa alias veritatis facere vitae repellat molestiae a quis aspernatur voluptates eius recusandae dolorum repellendus?
        Magni a nesciunt fugiat quam illo cum perspiciatis. Nulla illum quo doloribus nesciunt possimus dicta, deleniti ipsa quia quaerat consequatur quod deserunt totam eos voluptates saepe sunt numquam tempore. Dolore?
        Totam minus laborum dolorem asperiores vitae, consectetur repellendus corrupti ad animi dolorum eius sint veniam libero velit nemo? Distinctio quibusdam laudantium dolorem! Odit iure molestias, fugiat incidunt quia omnis adipisci.
        Illo sequi accusamus perferendis, autem quidem, impedit incidunt praesentium ratione id voluptatum error quae. Quidem ducimus, neque aperiam facere, harum sit obcaecati dolor ipsam eum, praesentium dignissimos nobis commodi vel?
        Quidem aspernatur dolore ducimus illo amet unde totam odio deleniti consequatur eius ipsum saepe atque aperiam magnam minus, provident eos quisquam eveniet culpa iste quae praesentium sequi minima itaque. Ea.
        Similique omnis distinctio pariatur, voluptates assumenda tenetur dignissimos dolor exercitationem eveniet temporibus quaerat quisquam quibusdam laudantium. Sunt suscipit enim nihil consequatur voluptates consequuntur possimus, magnam hic asperiores. Consequuntur, harum a?
        Error, deleniti laboriosam! Maiores, earum adipisci tempora ab deleniti sint eaque quo ratione, asperiores rem amet, quia officia? Nesciunt, dolorum eveniet! Eum sed totam fugiat excepturi, saepe atque quidem earum!
        Nulla illum quam libero non, ad hic aliquam totam impedit. Vel nisi provident aspernatur labore ullam, tempora nemo consectetur aliquid ad est! Natus, qui. Nisi dignissimos pariatur iste sapiente aperiam.
    </p>
    
</div>
{% endblock %}
