{% extends 'base.html.twig' %}

{% block title %}Index des adresses{% endblock %}

{% block body %}
    <h1>Mes adresses</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom et prénom</th>
                <th>Compagnie</th>
                <th>Adresse</th>
                <th>Complement</th>
                <th>Portable</th>
                <th>Ville</th>
                <th>CodePostal</th>
                <th>Pays</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for address in addresses %}
            <tr>
                <td>{{ address.id }}</td>
                <td>{{ address.fullname }}</td>
                <td>{{ address.campany }}</td>
                <td>{{ address.address }}</td>
                <td>{{ address.complement }}</td>
                <td>{{ address.phone }}</td>
                <td>{{ address.city }}</td>
                <td>{{ address.codePostal }}</td>
                <td>{{ address.country }}</td>
                <td>
                    <a href="{{ path('address_show', {'id': address.id}) }}">show</a>
                    <a href="{{ path('address_edit', {'id': address.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">aucun enregistrement trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('address_new') }}">Créer un nouveau</a>
{% endblock %}
